* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #4b515d91;
  transition: 0.5s;
}

header h1 {
  margin: 10px 0;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 20px;
}
header form {
  float: right;
  margin: 10px 0;
}
header form input {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ffbb33;
}
header form input:hover {
  border: 2px solid #00c851;
}
header form input::placeholder {
  font-weight: bold;
  text-align: center;
}
.btnCheck {
  margin: 0 10px;
  width: 150px;
  outline: none;
  padding: 8px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  font-size: x-small;
  color: #CC0000;
  border: 2px solid #ffbb33;
}
.btnCheck:hover {
  background-color: #ffbb33;
  color: #fff;
  border: 2px solid #ff4444;
}
section {
  height: 100vh;
  padding: 50px;
  align-items: center;
  display: flex;
  position: relative;
}
section form {
  width: 400px;
  margin: 0 auto;
}
.form1 {
  background-color: #4db6ac;
}
.form2 {
  background-color: #00796b;
}
.form3 {
  background-color: #004d40;
}
.form4 {
  background-color: #4b515d;
}
.form1 h3{
  position: absolute;
  top: 100px;
  left: 120px;
}
section h2 {
  margin: 0 auto;
  width: 350px;
  text-align: center;
  font-size: 250%;
  font-weight: bold;
}
section label {
  font-size: 150%;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 10px;
}
section input {
  margin: auto;
  width: 300px;
  height: 50px;
  display: block;
  border: none;
  outline: none;
  background-color: rgba(17, 17, 17, 0.5);
  border-radius: 10px;
  text-shadow: red;
  text-align: center;
  font-weight: bold;
}
section input::placeholder {
  font-weight: bold;
  text-align: center;
  color: white;
}
section input:hover {
  border: 2px solid #33b5e5;
}
section input:focus {
  border: 2px solid #0d47a1;
  width: 350px;
  background-color: #ffffff80;
}
.btn {
  width: 150px;
  font-weight: bold;
  border: 2px solid #0099CC;
  background-color: #fff;
  color: #0099CC;
  background: rgba(255, 255, 255, 0.7);
}
.btn:hover {
  width: 150px;
  background-color: #0099CC;
  color: white;
  border: 2px solid #0099CC;
}
section p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  left: 45%;
}
footer {
  background-color: #33b5e5;
}
footer p {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
