<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1><%= title %></h1>
        <form action="balanceOf" method="post">
          <input
            type="text"
            name="accountAddress"
            placeholder="Account Address"
            required
          />
          <input type="submit" class="btnCheck" value="Check Reward Balance" />
        </form>
      </nav>
    </header>

    <main>
      <section class="form1">
        <!-- <h3>Contract Address:<br /><span><%= address %></span></h3> -->
        <h2>Enroll A Student</h2>
        <br />
        <form action="enrollStudent" method="POST" id="form1">
          <label for="id">Student ID</label>
          <input type="text" name="id" placeholder=" Student ID" required />
          <br />
          <label for="studentName ">Student Name</label>
          <input
            type="text"
            name="studentName"
            placeholder="Student Name"
            required
          />
          <br />
          <label for="accountAddress ">Admin Account Address</label>
          <input
            type="text"
            name="accountAddress"
            placeholder="Admin Address"
            required
          />
          <br />
          <input type="submit" class="btn" value="Enroll Student" />
        </form>
        <p>Scroll Down</p>
      </section>
      <section class="form2">
        <h2>Start A Club</h2>
        <form action="startAClub" method="POST" id="form2">
          <label for="clubId ">Club ID</label>
          <input type="text" name="clubId" placeholder="Club ID" required />
          <br />
          <label for="clubName">Club Name</label>
          <input type="text" name="clubName" placeholder="Club Name" required />
          <br />
          <label for="incahrgeAddress">Incharge Address</label>
          <input
            type="text"
            name="inchargeAddress"
            placeholder="Incharge Address"
            required
          />
          <br />
          <label for="accountAddress ">Admin Account Address</label>
          <input
            type="text"
            name="accountAddress"
            placeholder="Admin Address"
            required
          />
          <br />
          <input type="submit" class="btn" value="Start A Club" />
        </form>
      </section>
      <section class="form3">
        <h2>Enroll A Student To The Club</h2>
        <form action="enrollStudentInClub" method="POST" id="form3">
          <label for="studentId ">Student Id</label>
          <input type="text" name="id" placeholder=" Student Id" required />
          <br />
          <label for="clubId">Club ID</label>
          <input type="text" name="clubId" placeholder="Club ID" required />
          <br />
          <label for="incahrgeAddress">Incharge Address</label>
          <input
            type="text"
            name="inchargeAddress"
            placeholder="Incharge Address"
            required
          />
          <br />
          <!-- <label for="accountAddress ">Admin Account Address</label>
          <input
            type="text"
            name="accountAddress"
            placeholder="Admin Address"
            required
          />
          <br /> -->
          <input type="submit" class="btn" value="Enroll Student" />
        </form>
      </section>
      <section class="form4">
        <h2>Reward A Student</h2>
        <form action="reward" method="POST" id="form4">
          <label for="studentAddress">Student Address</label>
          <input
            type="text"
            name="studentAddress"
            placeholder=" Student Address"
            required
          />
          <br />
          <label for="amount">Reward Amount</label>
          <input
            type="text"
            name="amount"
            placeholder="Reward Amount"
            required
          />
          <br />
          <label for="accountAddress ">Incharge Account Address</label>
          <input
            type="text"
            name="accountAddress"
            placeholder="Incahrge Address"
            required
          />
          <br />
          <input type="submit" class="btn" value="Reward" />
        </form>
      </section>
    </main>

    <footer>
      <p class="copyright">Copyright © 2020</p>
    </footer>
  </body>
</html>
